/** Add css rules here for your application. */

.main-panel {
	background-color: rgb(255,250,240);
	border: 1px solid black;
	padding: 5px;
	padding-top-width: 10px;
}

.main-panel2 {
	background-color: rgb(255, 0, 0);
	border: 5px solid black;
	padding: 5px;
}

.main-panel3 {
	background-color: rgb(0, 250, 0);
	border: 1px solid rgb(0, 250, 0);
	padding: 5px;
}

.main-panel4 {
	background-color: rgb(0, 0, 0);
	border: 1px solid black;
	padding: 5px;
}

.blue-box {
	background-color: rgb(200, 200, 250);
	border: 1px solid black;
	padding: 5px;
}

.infobox {
	background-color: rgb(200, 200, 250);
	border: 1px solid rgb(255,221,137);  
	background-color: rgb(255,254,184);
	padding: 5px;
}
.no-border-no-padding-gray {
	background-color: rgb(240,240,240);
	border: 0px;
	padding: 0px;
}

.ruler {
	background-color: rgb(200,200,200);
	color: rgb(0,0,0);
	border: 0px;
	padding: 0px;
}

.infobox h1 {
	font-size: 12px;
}

